<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Authentication</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <div class="container">
        <h2>User Registration</h2>
        <form id="RegistrationForm">
            {% csrf_token %}
            <input type="text" id="registerUsername" placeholder="Username" required><br>
            <input type="text" id="registerEmail" placeholder="Email" required><br>
            <input type="password" id="registerPassword" placeholder="Password" required><br>
            <button type="submit">Login</button>
        </form>
    </div>

    

    <div class="container">
        <h2>User Login</h2>
        <form id="loginForm">
            {% csrf_token %}
            <input type="text" id="loginUsername" placeholder="Username" required><br>
            <input type="password" id="loginPassword" placeholder="Password" required><br>
            <button type="submit">Login</button>
        </form>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
